* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(0, 23, 45, 0.85),
      rgba(0, 23, 45, 0.85)
    ),
    url('https://wallpaperaccess.com/full/3431102.jpg');
  font-family: sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .toggleSearch {
    margin: 50px;

    .inactive {
      text-decoration: none;
      margin: 5px;
      color: darkgrey;
    }

    .selected {
      color: aliceblue;
    }
  }
}
